html {
	background-color: black;
	background: url('Vera_Background.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	margin: 0;
	padding: 0;
}

a {
	color: black;
}

#menubar {
	margin: 0;
	position: fixed;
	top: 0px; left: 0px; right: 0px;
	color: white;
	background-color: black;
	padding-left: 170px;
	padding-top: 6px;
	border-bottom: 1px solid #333;
	font-family: sans-serif;
	font-size: 10pt;
	list-style: none;
}
	#menubar li {
		display: inline;
		list-style: none;
	}
		#menubar li a {
			color: white;
			background-color: #333;
			text-decoration: none;
			padding-left: 10px; padding-right: 10px;
			-moz-border-top-left-radius: 15px;
			border-top-left-radius: 15px;
			-moz-border-top-right-radius: 15px;
			border-top-right-radius: 15px;
		}
			#menubar a:hover {
				background-color: #333;
				background-color: white;
				color: black;
			}

#maincolumn {
	position: absolute;
	top: 25px;
	left: 170px; right: 25%;
	
	/* background-color: green; */
}
	#maincolumn .Image img {
		max-width: 100%;
		max-height: 500px;
		border: thin solid rgba(0,0,0,0.4);
	}
	#maincolumn .Image {
		text-align: center;
	}

#rightcolumn {
	position: absolute;
	top: 25px; right: 0px;
	width: 25%;
	
	/* background-color: yellow; */
}
	#rightcolumn  img {
		width: 100%;
	}
		
#authentication {
	float: right;
	margin-right: 10px;
}

#filmstrip {
	position: fixed;
	top: -100px;
	left: 20px;
	width: 128px;
	
	height: 105%;
	
	background-color: white;
	background-image: url('filmstrip.jpg');
	background-repeat: vertical;
	background-size: 100% auto;
	
	/*padding: 10px;*/
	padding-top: 100px;
	text-align: center;
	
	-ms-transform:rotate(-4deg); 
	-moz-transform:rotate(-4deg);
	-webkit-transform:rotate(-4deg); 
	-o-transform:rotate(-4deg); 
	transform:rotate(-4deg);
	
	-webkit-backface-visibility: hidden;
	
	box-shadow: -2px 10px 5px 6px rgba(0,0,0,0.5);
}
	#filmstrip img {
		width: 72%;
		margin-top: -5px;
		/*margin: 10px;*/
		opacity:1.0;
		filter:alpha(opacity=100);
		border: none;
	}
		#off_filmstrip img:hover {
			
			/*-ms-transform:rotate(4deg);*/ /* IE 9 */
			/*-moz-transform:rotate(4deg);*/ /* Firefox */
			/*-webkit-transform:rotate(4deg);*/ /* Safari and Chrome */
			/*-o-transform:rotate(4deg);*/ /* Opera */
			/*transform:rotate(4deg);*/
			/*width: 80%;*/
			
			opacity:1.0;
			filter:alpha(opacity=100);
		}
	
.HoverCaption {
	text-align: right;
	margin: 2em;
	background-color: rgba(255,255,255,0.1);
	padding: 1em;
	border: medium solid rgba(255,255,255,0.2);
}
	.HoverCaption:hover {
		background-color: rgba(255,255,255,0.8);
	}
	
.Box {
	margin-right: 0.5em;
	margin-bottom: 1em;
	padding: 10px;
	border: thin solid rgba(0,0,0,0.4);
	/*background-color: rgba(255,255,255,0.9);*/
	background-color: #eee;
}
	.Box h1 {
		margin: -10px;
		margin-bottom: 0.5em;
		background-color: rgba(0,0,0,0.8);
		color: white;
		padding: 0.3em;
		font-size: 16pt;
		font-family: sans-serif;
	}

.Breadcrumb {
	font-size: 8pt;
	padding: 5px;
}

.journal_form input[type=text], .journal_form textarea {
	width: 800px;
}

.journal_form  input[type=button]{
	background-color: red;
        color: white;
}

